
    <p><strong class="ui-link">Bienvenido.</strong> Busque y realice la reserva de su vuelo.</p>

    <ul data-role="listview" data-inset="true" data-filter="true">
       
        <% @flights[:obtener_lista_vuelos_response][:return].each do |flight| %>
        	
            <li>            
                <%= link_to flight[:codigo_vuelo] , "flights/"+flight[:id_vuelo] %>
            </li>
            
        <% end %>
    </ul>
 