<p id="notice"><%= notice %></p>

        <div id="jqm-homeheader">
            <p>Reservar Vuelo - QWERTY</p>
        </div>

    <% if session[:name] == nil %>  
        <p class="intro"><a href="/users/new">Inicia sesión</a> para buscar y realizar la reserva de tu vuelo.</p>
    
    <% else %>
        <p class="intro">Bienvenido(a) <strong><%= session[:name] %>, </strong> busca y realiza la reserva de tu vuelo.</p>
    <% end %>

    <ul data-role="listview" data-inset="true" data-filter="true">
       
        <% @flights[:obtener_lista_vuelos_response][:return].each do |flight| %>
        	
            <li>            
                <%= link_to flight[:codigo_vuelo] , "/flights/"+flight[:id_vuelo] %>
            </li>
            
        <% end %>
        <% session[:user] = "pedro.jancachagua" %>
    </ul>
 